<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加✌</title>
</head>
<body>
    {% if tips %}
        <p>{{ tips }}</p>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
        账号：<input type="text" name="username" id="username" required placeholder="请输入用户名">
        密码：<input type="password" name="password" id="password" required placeholder="请输入密码">
        <input type="submit" value="添加">
        <a href="{% url 'index' %}">返回主页</a>
    </form>
</body>
</html>